node_modules
public
.tmp
.sass-cache
.idea
.vscode*
client/bower_components
client/index.html
dist
/server/config/local.env.js
npm-debug.log
coverage
*.orig
server/api/upload/files/*
dist.*
release.*

client/assets/fonts/bootstrap/glyphicons-halflings-regular\.svg

client/assets/fonts/font-awesome/fontawesome-webfont\.svg
