@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
$brand-primary: #3ca2e0;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Open Sans", Georgia, "Times New Roman", Times, serif;

$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

@import '~c3/c3.css';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.user-avatar {
	width: 125px;
	height: 125px;
}

/*** Animations ***/
[ui-view] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.94, 0.94, 0.94);
  -moz-transform:scale3d(0.94, 0.94, 0.94);
  transform:scale3d(0.94, 0.94, 0.94);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

/*** Bootstrap Rounded and Outline Buttons ***/
.btn-outline {
	background: none;
	//border-width:  2px;
	border-color: transparent;
	font-weight: 400;

	&:hover {
		background: none;
		border-color: transparent;
	}
	&.btn-white {
		box-shadow: 0 0 0 2px rgba(255,255,255, 0.8) inset;
		color: rgba(255,255,255, 0.8);
		&:hover {
			box-shadow: 0 0 0 2px rgba(255,255,255, 1) inset;
			color: rgba(255,255,255, 1);
		}
	}

	&.btn-primary {
		box-shadow: 0 0 0 2px darken($brand-primary, 10%) inset;
		color: darken($brand-primary, 10%);
		&:hover {
			box-shadow: 0 0 0 2px $brand-primary inset;
			color: $brand-primary;
		}
	}

	&.btn-success {
		box-shadow: 0 0 0 2px darken($brand-success, 10%) inset;
		color: darken($brand-success, 10%);
		&:hover {
			box-shadow: 0 0 0 2px $brand-success inset;
			color: $brand-success;
		}
	}

	&.btn-info {
		box-shadow: 0 0 0 2px darken($brand-info, 10%) inset;
		color: darken($brand-info, 10%);
		&:hover {
			box-shadow: 0 0 0 2px $brand-info inset;
			color: $brand-info;
		}
	}

	&.btn-warning {
		box-shadow: 0 0 0 2px darken($brand-warning, 10%) inset;
		color: darken($brand-warning, 10%);
		&:hover {
			box-shadow: 0 0 0 2px $brand-warning inset;
			color: $brand-warning;
		}
	}

	&.btn-danger {
		box-shadow: 0 0 0 2px darken($brand-danger, 10%) inset;
		color: darken($brand-danger, 10%);
		&:hover {
			box-shadow: 0 0 0 2px $brand-danger inset;
			color: $brand-danger;
		}
	}
}

.btn-rounded {
	border-radius: 50px;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'dashboard/bms/car';
@import 'dashboard/car/car';
@import 'dashboard/dashboard';
@import 'dashboard/database/database';
@import 'dashboard/overview/overview';
@import 'login/login';
/* endinject */
