div.temperature{
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;
  vertical-align:middle;
  color: white;
  margin: 15px;
}
div.gauge{
  display: inline-block;
  width:200px;
  height:100px;
  max-height:100px;
  text-align: center;
  font-size: 20px;
}