.dashboard-page {
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  background: #ecf0f1;
  color: #666;

  .heading {
    display: inline;;
  }

  .navbar-fixed-top {
    border: 0;
  }

  /* Hide for mobile, show later */
  .sidebar {
    .user-avatar {
    	margin: 10px 0 10px 0;
    }
    .brand {
    	padding-top: 15px;
    }
    display: none;
    color: #FFF;
    h2 {
    	font-weight: 300;
    	small {
    		color: rgba(255, 255, 255, 0.7);
    	}
    }
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 0 20px 20px 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: lighten($brand-primary, 0%); //#f5f5f5;
      border-right: 1px solid #eee;
    }
  }

  .nav > li > a:hover, .nav > li > a:focus {
  	background: darken($brand-primary, 5%);
  }

  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: 20px;
  }
  .nav-sidebar > li > a {
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: darken($brand-primary, 5%);
  }

  .main {
    padding: 20px;
    position: relative;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    .jumbotron {
      background: #FFF;
      margin-top: 20px;
    }
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}

/** Checkboxes **/ //Working or not???
#check-throttle         { position:relative; }

/* checkbox css */
label                  { cursor:pointer; }
label span             { display:block; position:absolute; left:0;
  -webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; transition-duration:0.3s;
}
label .circle          {
  background:#FFF;
  left:-30px;
  top:-30px;
  height:80px;
  width:80px;
  z-index:-1;
  border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
}
label .box     {
  border:2px solid #000;
  height:20px;
  width:20px;
  z-index:888;
  -webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; transition-delay:0.2s;
}
label .check         {
  top: -7px;
  left: 6px;
  width: 12px;
  height: 24px;
  border:2px solid #0f9d58;
  border-top: none;
  border-left: none;
  opacity:0;
  z-index:888;
  -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg);
  -webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; transition-delay:0.3s;
}

/* handling click events */

/* when checkbox is checked */
label .circle {
  -webkit-animation   :growCircle 0.3s ease;
  -moz-animation      :growCircle 0.3s ease;
  animation           :growCircle 0.3s ease;
}
input[type=checkbox]:checked ~ label .box {
  opacity:0;
  -webkit-transform   :scale(0) rotate(-180deg);
  -moz-transform 		:scale(0) rotate(-180deg);
  transform 				:scale(0) rotate(-180deg);
}
input[type=checkbox]:checked ~ label .check {
  opacity:1;
  -webkit-transform   :scale(1) rotate(45deg);
  -moz-transform      :scale(1) rotate(45deg);
  transform           :scale(1) rotate(45deg);
}

/* bubble animation */

@-webkit-keyframes growCircle {
  0%, 100%   { -webkit-transform:scale(0); }
  70%        { background:#DDD; -webkit-transform:scale(1.25); }
}
@-moz-keyframes growCircle {
  0%, 100%   { -moz-transform:scale(0); }
  70%        { background:#DDD; -moz-transform:scale(1.25); }
}
@keyframes growCircle {
  0%, 100%   { transform:scale(0); }
  70%        { background:#DDD; transform:scale(1.25); }
}
