<div>
  <div class="row">
    <div class="col-sm-8 col-md-10">
      <h2 class="heading">Database <small>View all data per collection</small></h2>
    </div>
    <div class="col-sm-2 col-md-1">
      <a ui-sref="dashboard.car" class="btn btn-primary btn-outline btn-rounded">Car</a>
    </div>
    <div class="col-sm-2 col-md-1">
      <a ui-sref="dashboard.bms" class="btn btn-primary btn-outline btn-rounded">BMS</a>
    </div>
  </div>
	<div class="jumbotron">
		<div class="container">
			<h1>Log</h1>
      <div class="content">
        <select ng-options="item for item in collections" ng-model="selected"></select>
        <button type="button" class="search btn btn-primary" ng-click="search()">Query</button>
        <a target="_blank" ng-href="/api/db/collections/{{selected}}/download/json" download><button type="button" class="download btn btn-secondary">Download Processed</button></a>
        <a target="_blank" ng-href="/api/db/collections/{{selected}}/download/csv" download><button type="button" class="download btn btn-secondary">Download Raw</button></a>
        <div>
          <table class="table">
          <thead>
            <tr>
              <th>CAN</th>
              <th>Timestamp</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
              <th>8</th>
          </thead>
          <tbody>
            <tr ng-repeat="row in datas">
              <td>{{row.CAN_Id}}</td>
              <td>{{row.Timestamp}}</td>
              <td ng-repeat="value in row.data track by $index">{{value}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table" style="float:right">
          <thead>
            <th>Raw</th>
          </thead>
          <tr ng-repeat="row in datas">
            <td>{{row.raw}}</td>
          </tr>
        </table>
        </div>
        <button type="button" class="loader text-center btn btn-outline" ng-mouseenter="load()">Load More</button>
      </div>
		</div>
	</div>
</div>
